@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300 700;
  src: url('/fonts/SpaceGrotesk.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/JetBrainsMono.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 100 900;
  src: url('/fonts/JetBrainsMono-Italic.woff2') format('woff2');
  font-display: swap;
}
